# Copyright (c) 2021 Mesotic SAS
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config PACKAGE_NRF_MODEM
    bool "nRF Modem LTE for nRF9160"
    depends on TEST_KCONFIG
    help
        nRF Modem library allows to use the nRF9160 modem to use
        NB-IoT, LTE-M or GNSS features with this MCU
